<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traceroute server</title>
    <style>
        .submit_button {
            width: 100px;
            height: 25px;
            margin-top: 20px;
            value: "Обновить"
        }

        .input_field {
            width: 300px;
            height: 75px;
            margin-top: 20px;
            display: none;
        }
    </style>
</head>
<body>
Traceroute List to {{ .Url}} from servers:

<table>
{{range .Tll}}
<div>
    <tr><h2 align="center">{{ .ServerName}}</h2></tr>
    {{range .Nodes}}
        <div>
            <tr>
            <h3 align="center">{{ .}}</h3>
            </tr>
        </div>
    {{end}}
</div>
{{end}}
</table>

<form action="/process" method="post">
    <div>
        <textarea class="input_field" type="text" name="yourl">{{ .Url}}</textarea>
    </div>
    <div>
        <input class="submit_button" type="submit" value="Обновить"/>
    </div>
</form>

</body>
</html>